* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

.container {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;



}

.item {
    border: 1px solid blueviolet;
    background-color: orchid;
}
