.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}


.header .nav-bar {
    height: 30px;
}
.logo, .menu {
    padding: 4px;
    height: 25px;
}

.hero {
    height: 50vh;
    background-color: cornflowerblue;
}