/* 
Color del texto de #414141 a #010101;
Tamaño de fuente de la página a 18px
El margen de .wrapper a 0 60px
Fondo de header y footer a yellow
Alto de header y footer a 50px
Fondo de .main a cyan
 */


$color: #414141;
$font_family: arial, sans-serif;
$font_size: 18px;
$background_header: yellow; 
$height_header: 100px;
$background_header: #aaa;
$background_main: cyan;
$background_footer: yellow;
$height_footer: 100px


body {
  color: $color; /* Pasar a variable */
  display: flex;
  font: $font_size $font_family;/* pasar a dos variables: texto y tamaño de texto */
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}
.wrapper {
  margin: 0 40px;
}
.header {
  background: $background_header; /* Pasar a variable */
  height: $height_header; /* Pasar a variable */
  padding: 10px 0;
  box-sizing: border-box;
}
.main {
  background: $background_main; /* Pasar a variable */
  flex: 1;
}
.main__title {
  color: #fff;
  font-size: 2.5em;
}
.main__content p {
  font-size: 1.1em;
  line-height: 140%;
}
.footer {
  background: $background_footer; /* Pasar a variable */
  height: $height_footer; /* Pasar a variable */
  padding: 10px 0;
  box-sizing: border-box;
}

