

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.main__header,
.main__footer {
  height: 50px;
  flex-shrink: 0;
}

.main__header {
  background-color: #d8d8d8;
}

.main__footer {
  background-color: #f5a623;
}

.main {
  flex-grow: 1;
  background-color: #aeacaf;
}