:root {
  --band-color: #3cdbc0;
  --gray-color: #4a4a4a;
}

html {
  font-family: "Rubik", sans-serif;
  text-align: center;
}

.lema {
  width: 240px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-transform: capitalize;
}

/* TABLET AND DESKTOP */

@media screen and (min-width: 768px) {
  .lema {
    font-size: 40px;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lema h1 {
    width: 300px;
  }
}
